@model IEnumerable<DailyMart.Models.Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<label>@Html.ActionLink("Add New", "CategoryForm",null, new { @class = "btn btn-primary ml-4"})</label>
<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        
                       <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.CreatedOn)</th>
                        <th>@Html.DisplayNameFor(model => model.UpdateOn)</th>
                        <th>Products</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr><td> Not Matching Category Found!</td></tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreatedOn)</td>
                                <td>@Html.DisplayFor(modelItem => item.UpdateOn)</td>
                                <td>@item.Products.Count()</td>
                                <td>
                                    <a href="@Url.Action("CategoryForm","Category",new { id = item.Id })" class="btn btn-outline-primary "><i class="fa fa-pencil-ruler"></i></a> | 
                                    <button data-id="@item.Id" class="btn btn-outline-danger " type="button" id="del-category"><i class="fa fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Last update : <b>@ViewBag.LastUpdate</b></div>
</div>
<script>
    $("#del-category").on("click", function () {
         swal({
                        icon: 'warning',
             text: 'Are you sure want to delete this category?',
                        
                        buttons: {
                            OK: "Yes",
                            No:"Cancel"
                        },
                    }).then((value) => {
                        switch (value) {
                            case "OK":
                                var id = parseInt($(this).attr("data-id"));
		                            $.ajax({
                                        url: '@Url.Action("Delete", "Category")',
                                        type:"POST",
                                        data: {
                                            Id: id
                                        },
                                        
		                            })
                                    .done(function (response) {
        	                            console.log(response);
                                        if (response.Success) {
                                            swal("Done", response.Message, "success");
                                            setTimeout(function () { window.location.reload(); }, 2000);
        	                            }
                                    })
                                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                                            swal({
                                                icon: "error",
                                                title: "Oops..!",
                                                text: "Failed to delete category,try after some time.",
                                                timer: 1500
                                            });
                                    });
                                    break;
                            case "No":
                                break;
                        }
                    });
		    
        });
</script>
