@model DailyMart.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="title-section">
                <br />
                <h2 class="title">
                    Hello, @ViewBag.Username
                </h2>
                <hr />
            </div>

            <div class="text-success col-md-10">@ViewBag.StatusMessage</div>
            <div>
                <div class="btn btn-default font-weight-100">
                  @Html.ActionLink("Your profile", "Edit")
                </div>
                <hr />
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>Password:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                            ]
                        </dd>
                        <br />
                        <dt>Phone Number:</dt>
                        <dd>
                            @(Model.PhoneNumber ?? "None")
                            @if (Model.PhoneNumber != null)
                            {
                                <br />
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <text>[<input type="submit" value="Remove" class="themesflat-button bg-accent" />]</text>
                                }
                            }
                            else
                            {
                                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber") ]</text>
                            }
                        </dd>

                     
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <br />
    </div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#twof").click(function () {
                if ($(this).val()=="Enable")
                    toastr.success("Two factor authentication enabled");
                else
                    toastr.success("Two factor authentication disabled");
            });
        });
    </script>
    }
