@using DailyMart.ViewModels;
@{
    ViewBag.Title = "Cart";
    int Total = 0;
}

<div class="container w-50">
    <div class="content-inner active" style="display: block;">
        
            
        
        <div class="inner max-width-83 padding-top-33">
            @if (Session["LastRemoved"] != null)
                    {
                        Item LastProduct= (Item)Session["LastRemoved"];
                        <div role="alert" class="alert alert-primary alert-dismissible fade show" style="border:1px dotted black;opacity:1">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <button  class="btn btn-sm pull-right add-again" data-id="@LastProduct.Product.Id" type="button">Add again</button>
                                <p>You just removed <strong>@LastProduct.Product.Name</strong> from your cart </p>
                        </div>
                    }
            @if (Session["cart"] == null)
            {
                <ol class="review-list">
                    <li class="h4 alert alert-danger text-center">
                        <strong>Your Cart Is Empty!</strong>
                    </li>
                </ol>

                        }
                        else
                        {
                            List<Item>cart = (List<Item>)Session["cart"];

                            var count = cart.Count();
                            if (count == 0)
                            {
                    <ol class="review-list">
                        <li class="h4 alert alert-danger text-center">
                            <strong>Your Cart Is Empty!</strong>
                        </li>
                    </ol>
                }
                else
                {
                    
                    
                    <ol class="review-list">

                        @foreach (Item item in (List<Item>)Session["cart"])
                        {
                int lineTotal = Convert.ToInt32(item.Quantity * item.Product.SellingPrice);
                Total = Convert.ToInt32(@Total + lineTotal);
                        <li class="review border-bottom" style="padding-top:25px;padding-bottom:25px;">
                            <div class="thumb">
                                <img src="@item.Product.ImageURL" alt="Image">
                            </div>
                            <div class="text-wrap">
                                <div class="review-meta">
                                    <h5 class="name">@item.Product.Name</h5>
                                    <div class="flat-star style-x">
                                        <a class="removeFromCartbtn" data-id="@item.Product.Id">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="review-text">
                                    <div class="product-detail">
                                        <div class="product-quantity" style="margin-top:0px;">
                                            <div class="quantity">
                                                <input type="text" value="@item.Quantity" name="quantity-number" class="quantity-number">
                                                <span class="inc quantity-button increaseQty" data-id="@item.Product.Id">+</span>
                                                <span class="dec quantity-button decreaseQty" data-id="@item.Product.Id">-</span>
                                            </div>
                                            <div class="price ml-3">
                                                <ins>
                                                    <span class="amount">
                                                        Rs. @item.Product.SellingPrice
                                                    </span>
                                                </ins>
                                                <del>
                                                    <span class="regular">
                                                        Rs. @item.Product.OriginalPrice
                                                    </span>
                                                </del>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="float-right">
                                        <b>Sub Total:@lineTotal</b>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </li><!--  /.review    -->
                        }
                    </ol><!-- /.review-list -->
                    <div class="text-center mt-5">
                        <a href="@Url.Action("CheckOut", "Home")" class="themesflat-button bg-accent mb-4" style="font-weight:500!important;">Proceed To CheckOut &nbsp;&nbsp;   <span class="font-size-18 font-weight-bolder"> @Total Rs.</span>  ></a>

                    </div>
                }
            }



        </div>
    </div>

</div>
 <div class="margin-top-49 mt-5 p-5">

</div>
          <div class="margin-top-49 mt-5 p-5">

</div>
<script>
    $(".add-again").on("click", function () {
        var productId = parseInt($(this).attr("data-id"));
    $.ajax({
        url: '/Shared/AddToCart/',

        data: {
            ProductId: productId,
            quantity: 1
        }
    })
        .done(function (response) {
            console.log(response);
            if (response.Success) {
                $("#cartProductsCount").html(response.CartLength);
            }
            swal("Done", "Product Added To Cart", "success");
            setTimeout(function () { window.location.reload(); }, 2000);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("FAIL to Add Product In Cart");
        });
    });
    $(".removeFromCartbtn").click(function () {
        debugger;
		var id = parseInt($(this).attr("data-id"));

		$.ajax({
            url: '@Url.Action("RemoveFromCart", "Shared")',

            data: {
                ProductId: id,
			}

		})
        .done(function (response) {
        	console.log(response);
            if (response.Success) {
              $("#cartProductsCount").html(response.CartLength);
            }
            setTimeout(function () { window.location.reload();}, 2000);
            


        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL to Remove");
        });
    });

    $(".increaseQty").click(function () {

        var id = parseInt($(this).attr("data-id"));
		$.ajax({
            url: '@Url.Action("IncreaseQty", "Shared")',

            data: {
                ProductId: id,
			}

		})
        .done(function (response) {
        	console.log(response);
            if (response.Success) {
              $("#cartProductsCount").html(response.CartLength);
        	}
             window.location.href =  '@Url.Action("Cart", "Home")';
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL to Remove");
        });
    });

      $(".decreaseQty").click(function () {

		var id = parseInt($(this).attr("data-id"));

		$.ajax({
            url: '@Url.Action("DecreaseQty", "Shared")',

            data: {
                ProductId: id,

			}

		})
        .done(function (response) {
        	console.log(response);
            if (response.Success) {
              $("#cartProductsCount").html(response.CartLength);
        	}
             window.location.href =  '@Url.Action("Cart", "Home")';
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL to Remove");
        });
    });
</script>