@using DailyMart.ViewModels;
@using DailyMart.Models;
@using Microsoft.AspNet.Identity
@{ ViewBag.Title = "CheckOut";
    int Total = 0; }
<div class="container-fluid mt-5 ">
    <div class="row">
        <div class="col-md-5 order-md-2 mb-4">
            <div class="container">
                <div class="content-inner active" style="display: block;">
                    <div class="inner max-width-83 padding-top-33">

                        @{
                            List<Item> cart = (List<Item>)Session["cart"];

                            //  var count = cart.Count();
                            if (cart == null)
                            {
                                  <ol class="review-list">
                                    <li class="h4 alert alert-danger text-center">
                                        <strong>Your Cart Is Empty!</strong>
                                    </li>
                                    </ol>
                            }
                            else
                            {

                                <ol class="review-list">

                                    @foreach (Item item in (List<Item>)Session["cart"])
                                    {
                                        if (item.Quantity != 0)
                                        {
                                            int lineTotal = Convert.ToInt32(item.Quantity * item.Product.SellingPrice);
                                            Total = Convert.ToInt32(@Total + lineTotal);
                                                <li class="review border-bottom" style="padding-top:25px;padding-bottom:25px;">
                                                    <div class="thumb"><img src="@item.Product.ImageURL" alt="Image"></div>
                                                    <div class="text-wrap">
                                                        <div class="review-meta"><h5 class="name">@item.Product.Name</h5></div>
                                                        <div class="review-text">
                                                            <div class="product-detail">
                                                                <div class="product-quantity" style="margin-top:0px;">
                                                                    <strong class="h6">@item.Quantity &nbsp; </strong>
                                                                    <i class="fa fa-remove"></i>
                                                                    <div class="price ml-3">
                                                                        <ins>
                                                                            <span class="amount">
                                                                                Rs. @item.Product.SellingPrice
                                                                            </span>
                                                                        </ins>
                                                                        <del>
                                                                            <span class="regular">
                                                                                Rs. @item.Product.SellingPrice
                                                                            </span>
                                                                        </del>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="float-right">
                                                                <b>Sub Total:@lineTotal</b>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <hr />
                                                </li><!--  /.review    -->
                                        }
                                    }
                                </ol><!-- /.review-list -->

                                <div class="text-center alert alert-warning">
                                    <h2>Grand Total-@Total Rs.</h2>
                                </div>
                            }
                        }
                    </div>
                </div>

            </div>

            @*<form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </div>
                </form>*@
        </div>
         @{
            Address addr=null;
             if (ViewBag.uAddress != null) {
                 addr = ViewBag.uAddress as Address;
             }
         }
        @if (cart != null) {

                <div class="col-md-7 order-md-1">
                    <h3 class="mb-3">Address</h3>
                    
                    <form class="needs-validation" id="orderModel">
                        
                        <input type="hidden" value="@Total" id="TotalAmount" name="TotalAmount" />
                          @if (addr != null)
                          {
                              <a href="@Url.Action("Edit", "Manage")" class=" bg-accent" style="font-weight:300!important;">Edit Address</a>
                                    <p><label for="AddressLine">AddressLine : </label>
                                    <span>@addr.AddressLine</span></p>
                                    <p><label for="City">City : </label>
                                    <span>@addr.City</span></p>
                                   <p><label for="State">State : </label>
                                    <span>@addr.State</span></p> 
                                   <p><label for="Zipcode">Zip Code : </label>
                                    <span>@addr.ZipCode</span></p> 
                                    <input type="hidden" value="false" id="newaddress" name="Newaddress"/>
                          }
                          else
                          {
                            <button class="btn btn-primary btn-sm" type="button" id="new-addr">Add New Address</button>
                             <input type="hidden" value="true" id="newaddress" name="Newaddress"/>
                               <div class="address-bar">
                            <div class="mb-3">
                                <label for="AddressLine">AddressLine</label>
                                <input type="text" class="form-control" id="AddressLine" name="AddressLine" required="" value="">
                                <div class="invalid-feedback"></div>
                            </div>
                                <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="City">City</label>
                                    <input type="text" class="form-control" id="City" placeholder="" name="City" value="" required="">
                                    <div class="invalid-feedback"> </div>
                                </div>
                                      <div class="col-md-4 mb-3">
                                <label for="State">State</label>
                                <input type="text" class="form-control" id="State" placeholder="" name="State" value="">
                                <div class="invalid-feedback"></div>
                            </div>
                                <div class="col-md-3 mb-3">
                                    <label for="Zipcode">Zip Code</label>
                                    <input type="text" class="form-control" id="Zipcode" placeholder="" name="Zipcode" value="" required="">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                          }
                          
                        <hr class="mb-4">
                        <h3 class="mb-3">Payment</h3>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input class="form-check-input" type="radio" name="paymentType" id="exampleRadios1" value="CoD" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    CoD
                                </label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="form-check-input" type="radio" name="paymentType" id="exampleRadios2" value="Online">
                                <label class="form-check-label" for="exampleRadios2">
                                    Paypal
                                </label>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="mt-5">
                        <button class="themesflat-button bg-accent" id="placeOrderBtn" type="button">Place Order</button>
                            </div>
                    </form>
                </div>
        }
    </div>
     <div class="margin-top-49 mt-5 p-5">

</div>
</div>




<script>
    $(".address-bar").hide();
    $("#new-addr").on("click", function () {
        $(".address-bar").fadeIn();
    });
    $("#placeOrderBtn").click(function () {
        
        if (validAddress()) {
            
            var OData = {
                Amount: $("#TotalAmount").val(),
                PaymentType: $(':radio:checked').val(),
                NewAddress: $("#newaddress").val(),
                AddressLine: $("#AddressLine").val(),
                City: $("#City").val(),
                State: $("#State").val(),
                ZipCode: $("#Zipcode").val()
            };
            console.log(OData);
            $.ajax({
                url: "/Home/PlaceOrder",
                data: JSON.stringify(OData),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
            })
                .done(function (response) {
                    if (response.Success) {
                        setTimeout(function () { window.location.href = "/Home/OrderPlaced?orderId=" + response.OrderId; }, 2000);
                        //swal("Done", response.Message, "success");
                    }
                   @* setTimeout(function () {
                        window.location.href = "/Home/MyOrders";
                    }, 2000);*@

                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    swal("Error", "Please Try Again!", "warning");
                    alert(XMLHttpRequest.responseText);
                });
        }
        else {
            swal({
                position: 'top-end',
                icon: 'warning',
                 title:'Info',
                text: 'Provide your complete address',
                timer: 1500
                }
            );
        }

    });
    function validAddress() {
        if ($("#AddressLine").val() == '' || $("#City").val()=='' || $("#Zipcode").val()=='' || $("#State").val()=='')
            return false;
        return true;
    }
</script>

