@model DailyMart.Models.Product

@{ 
    ViewBag.Title = Model.Name;
}


@if (Model != null)
{

    var imageURL = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : "/Content/images/system/placeholder-image.png";
    <!-- Page title -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-heading">
                        <h1 class="title">
                            @Model.Name
                        </h1>
                    </div><!-- /.page-title-heading -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.page-title -->

    <section class="flat-row main-shop shop-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="wrap-flexslider">
                        <div class="inner">
                            <div class="flexslider style-1 has-relative">
                                <ul class="slides">
                                    <li data-thumb="@imageURL">
                                        <img src="@imageURL" alt="Image">
                                        <div class="flat-icon style-1">
                                            <a href="@imageURL" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                        </div>
                                    </li>
                                    @*<li data-thumb="images/shop/sh-detail/thumb-detail-02.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>
                                        <li data-thumb="images/shop/sh-detail/thumb-detail-03.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>
                                        <li data-thumb="images/shop/sh-detail/thumb-detail-04.jpg">
                                            <img src="images/shop/sh-detail/detail-01.jpg" alt="Image">
                                            <div class="flat-icon style-1">
                                                <a href="images/shop/sh-detail/detail-01.jpg" class="zoom-popup"><span class="fa fa-search-plus"></span></a>
                                            </div>
                                        </li>*@
                                </ul>
                            </div><!-- /.flexslider -->
                        </div>
                    </div>
                </div><!-- /.col-md-6 -->

                <div class="col-md-6">
                    <div class="product-detail">
                        <div class="inner">
                            <div class="content-detail">
                                <h2 class="product-title">
                                    @Model.Name
                                </h2>
                                @*<div class="flat-star style-1">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <span>(1)</span>
                                    </div>*@
                                <p>
                                    @Model.Description
                                </p>
                                <div class="price">
                                    <del>
                                        <span class="regular">$ @Model.OriginalPrice</span>
                                    </del>
                                    <ins>
                                        <span class="amount">
                                            $ @Model.SellingPrice
                                        </span>
                                    </ins>
                                </div>
                                <div class="product-quantity">
                                    <div class="quantity">
                                        <input type="text" value="1" name="quantity-number" id="quantity" class="quantity-number">
                                        <span class="inc quantity-button">+</span>
                                        <span class="dec quantity-button">-</span>
                                    </div>
                                    <div class="add-to-cart">
                                        <a data-id="@Model.Id" class="addTocartBtn" data-quantity="1">ADD TO CART</a>
                                    </div>
                                    @if (ViewBag.InWish!=null)
                                    {
                                        <div class="box-like">
                                        <a data-id="@Model.Id" class="like removefromwish" title="Remove from wishlist"><i class="fa fa-heart"></i></a>
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="box-like">
                                        <a  data-id="@Model.Id" class="like addTowish" title="Add to wishlist"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                    }
                                </div>
                                <div class="product-categories">
                                    <span>Category: </span> @Html.ActionLink(@Model.Category.Name, "Index", new { categoryID = Model.Category.Id })
                                 
                                </div>
                                
                            </div>
                        </div>
                    </div><!-- /.product-detail -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.flat-row -->
    <section class="flat-row shop-related">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-section margin-bottom-55">
                        <h2 class="title">Related Products</h2>
                    </div>

                    @{Html.RenderAction("Products", "Home", new { CategoryID = Model.Category.Id,Related=true });}

                </div>
            </div>
        </div>
    </section>

}

<script>
    
</script>