@using DailyMart.Models
@model DailyMart.ViewModels.OrderViewModel

                            <div class="content-inner">
                                <div class="container p-5">
                                    @if (! (Model.MyOrders.ToList().Count() > 0))
                                    {
                                    <div class="alert alert-danger text-center h5" role="alert">
                                        Can't Find any Orders!
                                    </div>
                                    }
                                    @foreach (var item in Model.MyOrders.ToList())
                                    {

                                <div class="row">
                                    <div class="col-md-4 order-md-2 mb-4">
                                        <h4 class=" d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-muted">Products <span>(@item.OrderItems.Count())</span></span>
                                            <span class=" text-muted">OrderId : #@item.Id</span>
                                        </h4>
                                        <ul class="list-group mb-3">
                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>OrderDate</span>
                                                <strong>@item.OrderDate.ToString("dd-MM-yyyy")</strong>
                                            </li>
                                            @foreach (OrderItem item1 in (List<OrderItem>)@item.OrderItems)
                                            {
                                                <li class="list-group-item d-flex justify-content-between lh-condensed">

                                                    <div>
                                                        <img src="@item1.Product.ImageURL" class="rounded" alt="..." style="width:50px;height:50px;">

                                                        <h6 class="my-0">@item1.Product.Name</h6>
                                                        <small class="text-muted">@item1.Product.SellingPrice Rs.</small>
                                                    </div>
                                                    <span class="text-muted">Qty-&nbsp;@item1.Quantity</span>

                                                </li>
                                            }

                                            <li class="list-group-item d-flex justify-content-between">
                                                <span>Total (INR)</span>
                                                <strong>@item.Amount Rs.</strong>
                                            </li>
                                            
                                        </ul>

                                        <form class="card p-2">
                                            <div class="form-group">
                                                <label for="status">Status</label>
                                                <input type="text" class="form-control" readonly value="@item.OrderStatus">

                                            </div>
                                        </form>
                                        
                                    </div>
                                    <div class="col-md-8">
                                                @if (item.OrderStatus == "Pending")
                                                {
                                            <h4 class="d-flex justify-content-between align-items-center ml-3 mb-3">
                                                    <span class="text-muted">Tracking Details</span>
                                             </h4> 
                                            <div class="col-md-11  tracker ml-3">
                                                
                                                <ul class="bs4-order-tracking">
                                                    <li class="step active"><div><i class="fa fa-user"></i></div> Order Placed </li>
                                                    <li class="step"> <div><i class="fa fa-truck"></i></div> In transit</li>
                                                    <li class="step"><div><i class="fa fa-circle-o-notch"></i></div> Out for delivery</li>
                                                    <li class="step "> <div><i class="fa fa-check-circle"></i></div> Delivered </li>
                                                </ul>
                                            </div>
                                            <hr />
                                                }
                                                   @if (item.OrderStatus == "InProgress")
                                                {
                                            <h4 class="d-flex justify-content-between align-items-center ml-3 mb-3">
                                                    <span class="text-muted">Tracking Details</span>
                                             </h4> 
                                            <div class="col-md-11  tracker ml-3">
                                                
                                                <ul class="bs4-order-tracking">
                                                    <li class="step active"><div><i class="fa fa-user"></i></div> Order Placed </li>
                                                    <li class="step active"> <div><i class="fa fa-truck"></i></div> In transit</li>
                                                    <li class="step"><div><i class="fa fa-circle-o-notch"></i></div> Out for delivery</li>
                                                    <li class="step "> <div><i class="fa fa-check-circle"></i></div> Delivered </li>
                                                </ul>
                                            </div>
                                            <hr />
                                                }
                                                      @if (item.OrderStatus == "Delivered")
                                                {
                                            <h4 class="d-flex justify-content-between align-items-center ml-3 mb-3">
                                                    <span class="text-muted">Tracking Details</span>
                                             </h4> 
                                            <div class="col-md-11  tracker ml-3">
                                                
                                                <ul class="bs4-order-tracking">
                                                    <li class="step active"><div><i class="fa fa-user"></i></div> Order Placed </li>
                                                    <li class="step active"> <div><i class="fa fa-truck"></i></div> In transit</li>
                                                    <li class="step active"><div><i class="fa fa-circle-o-notch"></i></div> Out for delivery</li>
                                                    <li class="step active"> <div><i class="fa fa-check-circle"></i></div> Delivered </li>
                                                    
                                                </ul>
                                            </div>
                                            <hr />
                                                }
                                                              @if (item.OrderStatus == "Cancelled")
                                                {
                                            <h4 class="d-flex justify-content-between align-items-center ml-3 mb-3">
                                                    <span class="text-muted">Tracking Details</span>
                                             </h4> 
                                            <div class="col-md-11  tracker ml-3">
                                                
                                                <ul class="bs4-order-tracking" style="color:red">
                                                    <li class="step active" style="color:lightcoral"><div><i class="fa fa-user"></i></div> Order Pickup </li>
                                                    <li class="step active" style="margin-left:72px;color:red"> <div><i class="fa fa-check-circle-o"></i></div> Cancelled </li>
                                                    
                                                </ul>
                                            </div>
                                            <hr />
                                                }
                                            <div class="col-md-12"><br />
                                                <div>
                                                    <h4 class="d-flex justify-content-between align-items-center mb-2">
                                                        <span class="text-muted">Payment Mode :  <span>@item.PaymentType</span></span>
                                                    </h4>
                                                </div>
                                                <hr />
                                                @if (item.OrderStatus == "Pending")
                                                {
                                                <button data-id="@item.Id" class="btn-sm cancel-order" type="button">Cancel Order</button>
                                                }
                                            </div>
                                         </div>
                                </div>
                                        
                                <div class="mb-4 mt-4 o-separator"></div>
                                       
                                    }

                                </div>
                            </div><!-- /.content-inner -->
     <div class="margin-top-49 mt-5 p-5">
          <div class="margin-top-38 mt-1">

</div>
</div>
    <style>
        
    </style>
<script>
    $(".cancel-order").on("click", function () {
            swal({
                icon: 'info',
                text: 'Are you sure you want to cancel this Order?',

                buttons: {
                    OK: "Yes,Cancel this Order",
                    No: "Close"
                },
            }).then((value) => {
                switch (value) {
                    case "OK":
                        var orderId = parseInt($(this).attr("data-id"));
                        $.ajax({
                            url: '@Url.Action("CancelOrder", "Home")',
                            data: {
                                OrderId: orderId
                            },
                        })
                            .done(function (response) {
                                console.log(response);
                                if (response.Success) {
                                    swal("Done", response.Message, "success");
                                }
                                else {
                                     swal("Done", response.Message, "info");
                                }
                                setTimeout(function () {
                                    window.location.reload();
                                }, 2000);
                            })
                            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                                swal({
                                    icon: "error",
                                    title: "Oops..!",
                                    text: "Failed to Cancel your order,try after some time.",
                                    timer: 1500
                                });
                            });
                        break;
                    case "No":
                        break;
                }
            });

        });
</script>

